@font-face {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: bold;
   src: url("../fonts/Montserrat-Bold.ttf");
   src: local("Montserrat"), url("../fonts/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 300;
   src: url("../fonts/Montserrat-Light.ttf");
   src: local("Montserrat"), url("../fonts/Montserrat-Light.ttf") format("truetype");
}
 
@font-face {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 500;
   src: url("../fonts/Montserrat-Medium.ttf");
   src: local("Montserrat"), url("../fonts/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 600;
   src: url("../fonts/Montserrat-SemiBold.ttf");
   src: local("Montserrat"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
}
@font-face {
    font-family: 'Avenir';
    font-weight: 500;
    font-style: normal;
    src: local('Avenir Heavy'), local('Avenir-700'),
        url('../fonts/AvenirNextCyr-Regular.eot') format('embedded-opentype'),
        url('../fonts/AvenirNextCyr-Regular.woff') format('woff'),
        url('../fonts/AvenirNextCyr-Regular.ttf') format('truetype');
}
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #FFFFFF; 
}
a {
    text-decoration: none;
}
.button {
    font-family: "Montserrat";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    border-radius: 100px;
    width: 300px;
    text-align: center;
    padding: 20px 0;
    margin: 0 auto;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    display: block;
}
.button-blue {
    border: 1px solid #00EFFF;
}
.button-red {
    background-color: #FF180A;
}
.button-blue:hover {
    background-color: #00EFFF;
}
.button-red:hover {
    background-color: #FF0000;
}
body {
    background-color: #1C2935;
}
.slick-dots li {
    width: 21px !important;
    height: 1px !important;
    border: 1px solid #A7A7A7;
}
.slick-dots .slick-active  {
    border: 1px solid #00F3FF;
}
#donuts {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.donut {
    position: absolute;
    overflow: hidden;
    background-image: url("../images/donut.png");
    background-size: cover;
    z-index: 99999;
}
/** HEADER **/
.header {
    line-height: 100px;
    background-color: #1F3849;
    width: 100%;
}
.header-inner {
    max-width: 1170px;
    margin: 0 auto;
    z-index: 999999;
}
.fixed {
    position: fixed;
    z-index: 99999;
}
#header-plug {
    width: 1px;
    height: 100px;
}
.logo-img {
    vertical-align: middle;
    margin-right: 12px;
}
nav {
    display: inline-block;
}
nav a
{
    vertical-align: middle;
    margin-left: 70px;
    font-family: "Avenir";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
}
#menu__toggle {
    display: none;
}
/** HEADER ENDS **/
/** MAIN BLOCK **/
.wrapper-main {
    background-image: -o-radial-gradient(62% 41%, circle closest-side, #227d8a, #1C2935);
    background-image: radial-gradient(circle closest-side at 62% 41%, #227d8a, #1C2935);
}
.main {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
}
.slogn {
    text-transform: uppercase;
    font-family: "Montserrat";
    font-size: calc(1em + 2.6vw);
    font-style: normal;
    font-weight: 800;
    line-height: 61px;
    letter-spacing: 0em;
    text-align: left;
    width: 590px;
    padding-top: 50px;
    position: relative;
    z-index: 99;
}
.description {
    height: 91px;
    width: 440px;
    font-family: "Montserrat";
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    display: inline-block;
    padding-top: 35px;
}
.description-highlight {
    color: #20F4FF;
    font-weight: 600;
}
.main-label {
    position: absolute;
    top: 30px;
    height: 54px;
    width: 100%;
    top: 147px;
    border-radius: 0px;
    background: -webkit-gradient(linear, right top, left top, color-stop(61.46%, #A8579B), to(rgba(171, 85, 154, 0)));
    background: -o-linear-gradient(right, #A8579B 61.46%, rgba(171, 85, 154, 0) 100%);
    background: linear-gradient(270deg, #A8579B 61.46%, rgba(171, 85, 154, 0) 100%);
    text-align: right;
    font-family: "Montserrat";
    font-size: calc(1em + 1vw);
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
    padding-right: 25px;    
    padding-top: 10px;
}
.lead-img, 
.main-text {
    display: inline-block;
}
.main-button {
    margin-left: 0;
    margin-top: 25px;
}
.main-img {
    position: absolute;
    z-index: 99;
    top: 75px;
    right: 4%;
    width: 67%;
    max-width: 891px;
}
.main-bottom-block {
    max-width: 999px;
    margin: 40px auto;
    margin-top: 150px;
}
.bottom-block-title,
.bottom-block-count-channels,
.bottom-block-count-films {
    display: inline-block;
}
.bottom-block-title {
    max-width: 239px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 43px;
    text-transform: uppercase;
    color: #ffffff;
}
.bottom-block-count-channels,
.bottom-block-count-films {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    height: 141px;
    margin-left: 80px;
}
.bottom-block-count-channels {
    width: 238px;
}
.bottom-block-count-films {
    width: 353px;
}
.number,
.title {
    margin: auto;
}
.number {
    font-family: "Montserrat";
    text-transform: uppercase;
    background: -webkit-gradient(linear, left top, right top, from(#19C9D2), color-stop(38.94%, #638EB5), to(#AE5298));
    background: -o-linear-gradient(left, #19C9D2 0%, #638EB5 38.94%, #AE5298 100%);
    background: linear-gradient(90deg, #19C9D2 0%, #638EB5 38.94%, #AE5298 100%);
    display: table;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 80px;
    margin-top: 10px;
}
.title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}
.title::before {
    content: '';
    border-top: 1px dashed rgba(62, 246, 255, 0.2);
    width: 150px;
}
.bottom-block-count-channels .title {
    padding-left: 42px;
}
.bottom-block-count-films .title {
    padding-left: 20px;
}
.main-background-first,
.main-background-second { 
    text-transform: uppercase;
    display: block;
    width: auto;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    line-height: 244px;
    letter-spacing: 0em;
    text-align: left;
    opacity: 0.15;    
    color: transparent;
    -webkit-text-stroke: .5px #fff;
    position: absolute;
    z-index: 0;
    font-size: calc(1em + 11vw)
}
.main-background-first {
    right: 50px;
    top: 65px;
}
.main-background-second {
    left: 0;
    top: 250px;
}
/** MAIN BLOCK ENDS **/
/** BENEFITS BLOCK **/
.benefit-inner {
    margin-top: 30px;
}
.benefits-block {
    background-image: url(../images/bg-elipse.png);
    background-size: contain;
    background-size: 100%;
    background-repeat: no-repeat;
}
.benefit-block {
    max-width: 1157px;
    margin: 0 auto;
    margin-top: 130px;
    margin-bottom: 70px;
}
.benefit-block-heading {
    text-transform: uppercase;
    font-family: "Montserrat";
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 61px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 70px;
}
.benefit-block-item {
    display: inline-block;
    position: relative;
    margin: 0 4.8%;
}
.benefit-block-number {    
    font-family: "Montserrat";
    text-transform: uppercase;
    background: -o-linear-gradient(90.47deg, #19C9D2 33.51%, #638EB5 52.48%, #AE5298 82.25%);
    background: linear-gradient(359.53deg, #19C9D2 33.51%, #638EB5 52.48%, #AE5298 82.25%);
    display: table;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 150px;
    font-style: normal;
    font-weight: 700;
    line-height: 183px;
    letter-spacing: 0em;
    text-align: left;
    position: absolute;
    left: -38px;
    top: -104px;
    z-index: 1;
}
.benefit-block-wrapper {
    display : inline-block;
    width: 270px;
    height: 195px;
    vertical-align: top;
    text-align: center;
    line-height: normal;
}
.benefit-block-title {
    text-transform: uppercase;
    font-family: "Montserrat";
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: left;
    position: relative;
    z-index: 2;
}
.benefit-block-description {
    font-family: "Montserrat";
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
}
.benefit-button {
    margin-top: 50px;
    margin-bottom: 100px;
}
/** BENEFITS BLOCK ENDS **/
/** WELCOME BLOCK **/
.welcome-block {
    background-image: -o-radial-gradient(8% 37%, circle closest-side, #1d3945, #1c2935);
    background-image: radial-gradient(circle closest-side at 8% 37%, #1d3945, #1c2935);
    width: 100%;
    text-align: center;
    padding-bottom: 95px;
}
.welcome-background::after {
    content: 'познайомся';
    text-transform: uppercase;
    display: block;
    width: 100%;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 120px;
    line-height: 146px;
    text-align: center;
    opacity: 0.15;    
    color: transparent;
    -webkit-text-stroke: .5px #fff;
    position: absolute;
    z-index: 0;
}
.welcome-title {
    text-transform: uppercase;
    font-family: "Montserrat";
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 61px;
    letter-spacing: 0em;
    text-align: center;
    width: 675px;
    margin: 0 auto;
    padding-top: 67px;
}
.welcome-description {
    font-family: "Montserrat";
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 20px;
    width: 452px;
}
.welcome-description,
.welcome-block {
    margin: 0 auto;
    position: relative;
    z-index: 1;
}
.welcome-button {
    margin-top: 25px;
    position: relative;
}
.welcome-button::after {
    background-image: url("../images/donut.png");
    background-size: 42px 42px;
    display: inline-block;
    position: absolute;
    width: 42px;
    height: 42px;
    content: "";
    top: 3px;
    left: 283px;
}
/** WELCOME BLOCK ENDS **/
/** FOOTER BLOCK **/
footer { 
    background-color: #081016;
    width: 100%;
    height: 507px;
}
.footer-inner dl { 
    float: left;
    width: 135px;
    margin: 32px 69px 21px 0;
}
.footer-contacts {
    margin-top: 68px !important;
}
.footer-inner dl dd { 
    margin-bottom:13px; 
    list-style: none; 
}
.footer-inner { 
    font-family: "Montserrat";
    max-width: 1120px; 
    margin-left: auto; 
    margin-right: auto; 
    position: relative; 
    clear: both; 
    padding-top: 0px;
    line-height: 125%; 
    max-width: 1024px; 
    margin: 0 auto;
}
.footer-inner dt {
    margin: 0 0 22px 0;
    list-style: none; 
    font-size: 14px; 
    line-height: 14px;  
    font-weight: bold;
}
.footer-address,
.footer-inner dd a { 
    font-size: 12px; 
    line-height: 15px; 
    margin: 0px 0px 10px !important;
    text-decoration: none; 
}
.footer-social {
    width: 30px;
    height: 30px;
    background-image: url(../images/social_sprite.png);
    background-size: 635%;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 10px;
}
.social-apps {
    display: inline-block;
}
.social-left,
.social-right {
    padding-top: 48px;
    display: inline-block;
}
.social-apps-title,
.social-networks-title {
    padding-bottom: 12px;
}
.social-left {
    width: 70%;
}
.social-right {
    text-align: right;
    float: right;
    width: 30%;
}
.social-apps-img {
    border-radius: 7px;
    margin-right: 20px;
}
.footer-social img {
    width: 30px;
    height: 30px;
    border-radius: 5px;
}
.half-circle-background {
    width: 100%;
    margin-top: -255px;
}
.footer-tip {
    color: #80867d;
    font-size: 9px;
    margin-bottom: -5px !important;
}
.footer-copyright {
    font-size: 12px;
    text-align: center;
    display: inline-block;
    width: 100%;
}
.footer-site {
    text-transform: uppercase;
}
/** FOOTER BLOCK ENDS **/
@media (min-width: 1920px) {
    .slogn {
        width: auto;
    }
}
@media (max-width: 1184px) {
    .main-img {
        width: 60%;
        right: 55px;
    }
    .description {
        font-size: calc(1em + 0.8vw);
    }
    .half-circle-background {
        margin-top: -200px;
    }
}
@media (max-width: 1078px) {
    .welcome-background::after {
        font-size: calc(1em + 9.8vw);
    }
    .welcome-title  {
        font-size: calc(1em + 5.8vw);
    }
    .slogn {
        font-size: calc(1em + 1.8vw);
    }
    .description {
        font-size: calc(1em + 0.2vw);
    }
    .main-bottom-block {
        margin-top: 85px;
    }
    .benefit-block-item {
        width: 100%;
        display: inline-block;
        margin: 65px;
    }
    .benefit-block {
        max-width: 560px;
    }
}
@media (max-width: 1024px) {
    footer {
        display: none;
    }
    .bottom-block-count-channels {
        float: right;
        margin-right: 15%;
        margin-left: 10px;
    }
    .bottom-block-count-films {
        float: left;
        margin-left: 10%;
    }
    .bottom-block-title {
        max-width: none;
        display: block;
        width: 70%;
        margin: 0 auto;
        font-size: 25px;
        text-align: center;
        padding-bottom: 20px;
    }
}
@media (max-width: 870px) {
    .main-img {
        position: static;
        left: 0;
    }
    .main-text {
        width: 100%;
        padding-left: 10px;
    }
    .slogn {
        width: 52%;
        line-height: 35px;
        padding-top: 60px;
        min-width: 300px;
    }
    .description {
        display: block;
        width: 100%;
        margin: 0 auto;
        padding-top: 8px;
        font-size: 20px;
    }
    .main-label {
        font-size: 16px;
    }
    .main-img {
        width: 100%;
        margin-top: -80px;
        position: relative;
        top: 20px;
    }
    .main-button {
        margin-left: 20px;
    }
}
@media (max-width: 800px) {
    .number, .title {
        margin: 0;
        padding: 0 !important;
    }
    .number {
        font-size: 50px;
        line-height: 45px;
    }
    .title {
        font-size: 16px;
        line-height: 25px;
    }
    .bottom-block-count-channels,
    .bottom-block-count-films {
        width: auto;
        height: 100px;
        padding: 15px;
    }
    #menu__toggle {
      opacity: 0;
    }
    .logo-img {
        margin-left: 15px;
    }
    #menu__toggle:checked ~ .menu__btn > span {
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
    }
    #menu__toggle:checked ~ .menu__btn > span::before {
      top: 0;
      -webkit-transform: rotate(0);
          -ms-transform: rotate(0);
              transform: rotate(0);
    }
    #menu__toggle:checked ~ .menu__btn > span::after {
      top: 0;
      -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
              transform: rotate(90deg);
    }
    #menu__toggle:checked ~ nav {
      visibility: visible;
      left: 0;
    }    
    .menu__btn {    
        display: -webkit-box;    
        display: -ms-flexbox;    
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        position: fixed;
        top: 37px;
        right: 15px;
        width: 28px;
        height: 18px;
        cursor: pointer;
        z-index: 1000;
    }    
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
      display: block;
      position: absolute;    
      width: 100%;
      height: 2px;    
      background-color: #FFFFFF;    
      -webkit-transition-duration: .25s;    
           -o-transition-duration: .25s;    
              transition-duration: .25s;
    }
    .menu__btn > span::before {
      content: '';
      top: -8px;
    }
    .menu__btn > span::after {
      content: '';
      top: 8px;
    }    
    nav {
      display: block;
      position: fixed;
      visibility: hidden;
      top: 0;
      left: -100%;    
      width: 100%;
      height: auto;    
      margin: 0;
      padding: 80px 0;    
      background-color: #1F3849;
      -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
              box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);    
      -webkit-transition-duration: .25s;    
           -o-transition-duration: .25s;    
              transition-duration: .25s;
      z-index: 999;
    }    
    nav a {
      display: block;
      padding: 12px 24px;    
      color: #FFFFFF;    
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      font-weight: 600;    
      text-decoration: none;    
      -webkit-transition-duration: .25s;    
           -o-transition-duration: .25s;    
              transition-duration: .25s;
    }
}
@media (max-width: 630px) {
    .main-background-first,
    .main-background-second {
        font-size: calc(1em + 10vw);
    }
    .main-background-first {
        top: 30px;
    }
    .main-background-second {
        top: 115px;
    }
    .button {
        width: 196px;
        height: 39.2px;
        font-size: 14px;
        padding: 8px 0;
    }
    .main-button {
        margin-top: 45px;
    }
    .benefit-block {
        width: 100%;
    }
    .benefit-block-item {
        width: 100%;
        margin-bottom: 0;
    }
}
@media (max-width: 545px) {
    .welcome-title {
        font-size: 20px;
        width: 271px;
        line-height: 30px;
    }
    .welcome-description {
        font-size: 16px;
        width: 218px;
    }
    .welcome-background::after {
        font-size: 42px;
    }
    .button {
        font-size: 14px;
        width: 196px;
    }
    .welcome-button::after {
        background-image: url("../images/donut.png");
        background-size: 20px 20px;
        display: inline-block;
        position: absolute;
        width: 20px;
        height: 20px;
        content: "";
        top: -1px;
        left: 180px;
    }
    .benefit-block-heading {
        font-size: 20px;
    }
    .benefit-block-title {
        font-size: 20px;
        line-height: 30px;
    }
    .benefit-block-description {
        font-size: 16px;
        line-height: 24px;
    }
    .benefit-block-number {
        font-size: 80px;
    }
    .benefit-block-wrapper {
        width: 195px;
    }
    .bottom-block-count-channels,
    .bottom-block-count-films {
        width: auto;
        height: 77px;
        padding: 10px;
    }
    .number {
        font-size: 34px;
        line-height: 34px;
    }
    .title {
        font-size: 12px;
        line-height: 25px;
    }
}
@media (max-width: 441px) {
    .slogn {
        min-width: 0;
        width: 270px;
    }    
    .main-background-first,
    .main-background-second {
        font-size: calc(1em + 8vw);
    }
}
@media (max-width: 450px) {
    .main-img {
        top: 50px;
    }
}
@media (max-width: 370px) {
    .main-label {
        font-size: 12px;
        padding-right: 5px;
    }
}