@font-face {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: bold;
   src: url("../fonts/Montserrat-Bold.ttf");
   src: local("Montserrat"), url("../fonts/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 300;
   src: url("../fonts/Montserrat-Light.ttf");
   src: local("Montserrat"), url("../fonts/Montserrat-Light.ttf") format("truetype");
}
 
@font-face {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 500;
   src: url("../fonts/Montserrat-Medium.ttf");
   src: local("Montserrat"), url("../fonts/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 600;
   src: url("../fonts/Montserrat-SemiBold.ttf");
   src: local("Montserrat"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
}
@font-face {
    font-family: 'Avenir';
    font-weight: 500;
    font-style: normal;
    src: local('Avenir Heavy'), local('Avenir-700'),
        url('../fonts/AvenirNextCyr-Regular.eot') format('embedded-opentype'),
        url('../fonts/AvenirNextCyr-Regular.woff') format('woff'),
        url('../fonts/AvenirNextCyr-Regular.ttf') format('truetype');
}
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #FFFFFF; 
}
a {
    text-decoration: none;
}
.button {
    font-family: "Montserrat";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    border-radius: 100px;
    width: 300px;
    text-align: center;
    padding: 20px 0;
    margin: 0 auto;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    display: block;
}
.button-blue {
    border: 1px solid #00EFFF;
}
.button-red {
    background-color: #FF180A;
}
.button-blue:hover {
    background-color: #00EFFF;
}
.button-red:hover {
    background-color: #FF0000;
}
body {
    background-color: #1C2935;
}
.slick-dots li {
    width: 25px !important;
    height: 1px !important;
    border: 1px solid #A7A7A7;
    margin-right: 12px !important;
}
.slick-dots .slick-active  {
    border: 1px solid #00F3FF;
}
.slick-dots {
    left: 15px;
}
#donuts {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.top-button {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  bottom: 155px;
  right: 10px;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid #fff;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  cursor: pointer;
  z-index: 9999;
}
.top-button:hover {
    opacity: .7;
}
.top-button-show {
  display: block !important;
}
.top-button::after {
    content: '';
    position: absolute;
    display: inline-block;
    top: 13px;
    left: 9px;
    padding: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    -ms-transform: rotate(-135deg);
        transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
/** HEADER **/
.header {
    position: fixed;
    line-height: 100px;
    background-color: #1F3849;
    z-index: 99999;
    width: 100%;
}
.header-inner {
    max-width: 1170px;
    margin: 0 auto;
    z-index: 999999;
}
.logo-img {
    vertical-align: middle;
    margin: 0 12px;
}
nav {
    display: inline-block;
}
nav a
{
    vertical-align: middle;
    margin-left: 70px;
    font-family: "Avenir";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
}
#menu__toggle {
    display: none;
}
/** HEADER ENDS **/
/** MAIN BLOCK **/
.main {
    background-image: url('../images/main-background.png'), -o-radial-gradient(67% 35%, circle closest-side, #227d8a, #1C2935);
    background-image: url('../images/main-background.png'), radial-gradient(circle closest-side at 67% 35%, #227d8a, #1C2935);
    background-position: center 60px;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 100px;
}
.wrapper-main {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
}
.main-text-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.slogn {
    text-transform: uppercase;
    font-family: "Montserrat";
    width: 588px;
    font-size: calc(1em + 2.6vw);
    font-style: normal;
    font-weight: 800;
    line-height: 61px;
    letter-spacing: 0em;
    position: relative;
    z-index: 99;
}
.description {
    height: 91px;
    max-width: 450px;
    font-family: "Montserrat";
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    display: inline-block;
    padding-top: 35px;
}
.description-highlight {
    color: #20F4FF;
    font-weight: 600;
}
.main-label {
    position: absolute;
    top: 30px;
    height: 54px;
    width: 100%;
    top: 147px;
    border-radius: 0px;
    background: -o-linear-gradient(right, #A8579B 61.46%, rgba(171, 85, 154, 0) 100%);
    background: -webkit-gradient(linear, right top, left top, color-stop(61.46%, #A8579B), to(rgba(171, 85, 154, 0)));
    background: linear-gradient(270deg, #A8579B 61.46%, rgba(171, 85, 154, 0) 100%);
    text-align: right;
    font-family: "Montserrat";
    font-size: calc(1em + 1vw);
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
    padding-right: 25px;
    display: table;
}
.main-label span{
    display: table-cell;
    vertical-align: middle;
}
.main-text {
    display: inline-block;
}
.main-text {
    margin-top: 47px;
}
.main-button {
    margin-left: 0;
    margin-top: 25px;
}
.main-img-wrapper {
    margin-top: 35px;
    width: 90%;
    height: auto;
    z-index: 1;
}
.main-img {
    float: right;
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    margin-right: 45px;
}
.main-bottom-block {
    max-width: 999px;
    margin: 40px auto;
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.main-button-mobile {
    display: none;
}
.bottom-block-title,
.bottom-block-count-channels,
.bottom-block-count-films {
    display: inline-block;
}
.bottom-block-title {
    max-width: 239px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 43px;
    text-transform: uppercase;
    color: #ffffff;
}
.bottom-block-count-channels,
.bottom-block-count-films {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    height: 141px;
    margin-left: 80px;
}
.bottom-block-count-channels {
    width: 238px;
}
.bottom-block-count-films {
    width: 353px;
}
.number,
.title {
    margin: auto;
}
.number {
    font-family: "Montserrat";
    text-transform: uppercase;
    background: -o-linear-gradient(left, #19C9D2 0%, #638EB5 38.94%, #AE5298 100%);
    background: -webkit-gradient(linear, left top, right top, from(#19C9D2), color-stop(38.94%, #638EB5), to(#AE5298));
    background: linear-gradient(90deg, #19C9D2 0%, #638EB5 38.94%, #AE5298 100%);
    display: table;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 80px;
    margin-top: 10px;
}
.title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}
.title::before {
    content: '';
    border-top: 1px dashed rgba(62, 246, 255, 0.2);
    width: 150px;
}
.bottom-block-count-channels .title {
    padding-left: 42px;
}
.bottom-block-count-films .title {
    padding-left: 20px;
}
/** MAIN BLOCK ENDS **/
/** BENEFITS BLOCK **/
.benefit-inner {
    margin-top: 30px;
}
.benefits-block {
    /*background-color: #1e2f3e;*/
    background: url(../images/bg-elipse.png), -webkit-gradient(linear,left top, left bottom,color-stop(100%, #1c2935), color-stop(0%, #1e2f3e)) ;
    background: url(../images/bg-elipse.png), -o-linear-gradient(top,#1c2935  100%, #1e2f3e 0%) ;
    background: url(../images/bg-elipse.png), linear-gradient(to bottom,#1c2935  100%, #1e2f3e 0%) ;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}
.benefit-block {
    max-width: 1157px;
    margin: 0 auto;
    gap: 20px;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 5rem;
    grid-gap: 1rem;
    margin-top: 150px;
    padding-left: 70px;
}
.benefit-block-heading {
    text-transform: uppercase;
    font-family: "Montserrat";
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 61px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 70px;
}
.benefit-block-item {
    display: inline-block;
    position: relative;
    margin: 0 auto;
}
.benefit-block-number {    
    font-family: "Montserrat";
    text-transform: uppercase;
    background: -o-linear-gradient(90.47deg, #19C9D2 33.51%, #638EB5 52.48%, #AE5298 82.25%);
    background: linear-gradient(359.53deg, #19C9D2 33.51%, #638EB5 52.48%, #AE5298 82.25%);
    display: table;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 150px;
    font-style: normal;
    font-weight: 700;
    line-height: 183px;
    letter-spacing: 0em;
    text-align: left;
    position: absolute;
    left: -38px;
    top: -104px;
    z-index: 1;
}
.benefit-block-wrapper {
    display : inline-block;
    width: 270px;
    height: 195px;
    vertical-align: top;
    text-align: center;
    line-height: normal;
}
.benefit-block-title {
    text-transform: uppercase;
    font-family: "Montserrat";
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: left;
    position: relative;
    z-index: 2;
}
.benefit-block-description {
    font-family: "Montserrat";
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
}
.benefit-button {
    margin-top: 165px;
    margin-bottom: 100px;
}
/** BENEFITS BLOCK ENDS **/
/** WELCOME BLOCK **/
.welcome-block {
    background-color: #1c2935;
    background-image: url(../images/sweet_tv.png);/*, linear-gradient(to top,#1c2935 0%,#1e2f3e 100%);*/
    width: 100%;
    text-align: center;
    padding-bottom: 95px;
    background-position: center;
    background-repeat: no-repeat;
}
.welcome-background::after {
    content: 'познайомся';
    text-transform: uppercase;
    display: block;
    width: 100%;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 120px;
    line-height: 146px;
    text-align: center;
    opacity: 0.15;    
    color: transparent;
    -webkit-text-stroke: .5px #fff;
    position: absolute;
    z-index: 0;
}
.welcome-title {
    text-transform: uppercase;
    font-family: "Montserrat";
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 61px;
    letter-spacing: 0em;
    text-align: center;
    width: 675px;
    margin: 0 auto;
    padding-top: 67px;
}
.welcome-description {
    font-family: "Montserrat";
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 20px;
    width: 452px;
}
.welcome-description,
.welcome-block {
    margin: 0 auto;
    position: relative;
    z-index: 1;
}
.welcome-button {
    margin-top: 25px;
    position: relative;
}
.welcome-button::after {
    background-image: url("../images/donut.png");
    background-size: 42px 42px;
    display: inline-block;
    position: absolute;
    width: 42px;
    height: 42px;
    content: "";
    top: 3px;
    left: 283px;
}
/** WELCOME BLOCK ENDS **/
/** FOOTER BLOCK **/
footer { 
    background-color: #081016;
    width: 100%;
    height: 507px;
}
.footer-inner dl { 
    float: left;
    width: 135px;
    margin: 32px 69px 21px 0;
}
.footer-contacts {
    margin-top: 68px !important;
}
.footer-inner dl dd { 
    margin-bottom:13px; 
    list-style: none; 
}
.footer-inner { 
    font-family: "Montserrat";
    max-width: 1120px; 
    margin-left: auto; 
    margin-right: auto; 
    position: relative; 
    clear: both; 
    padding-top: 0px;
    line-height: 125%; 
    max-width: 1024px; 
    margin: 0 auto;
}
.footer-inner dt {
    margin: 0 0 22px 0;
    list-style: none; 
    font-size: 14px; 
    line-height: 14px;  
    font-weight: bold;
}
.footer-address,
.footer-inner dd a { 
    font-size: 12px; 
    line-height: 15px; 
    margin: 0px 0px 10px !important;
    text-decoration: none; 
}
.footer-social {
    width: 30px;
    height: 30px;
    background-image: url(../images/social_sprite.png);
    background-size: 635%;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 10px;
}
.social-apps {
    display: inline-block;
}
.social-left,
.social-right {
    padding-top: 48px;
    display: inline-block;
}
.social-apps-title,
.social-networks-title {
    padding-bottom: 12px;
}
.social-left {
    width: 70%;
}
.social-right {
    text-align: right;
    float: right;
    width: 30%;
}
.social-apps-img {
    border-radius: 7px;
    margin-right: 20px;
}
.footer-social img {
    width: 30px;
    height: 30px;
    border-radius: 5px;
}
.half-circle-background {
    width: 100%;
    height: 100px;
    background-image: url("../images/bg-line.png");
    background-repeat: no-repeat;
    background-position: bottom;
}
.footer-tip {
    color: #80867d;
    font-size: 9px;
    margin-bottom: -5px !important;
}
.footer-copyright {
    font-size: 12px;
    text-align: center;
    display: inline-block;
    width: 100%;
}
.footer-site {
    text-transform: uppercase;
}
/** FOOTER BLOCK ENDS **/
@media (min-width: 1440px) {
    .slogn {
        width: auto;
        font-size: 50px;
    }
}
@media (max-width: 1400px) {
    .main-label {
        font-size: calc(1em + 0.4vw);
    }
}
@media (max-width: 1184px) {
    .main-label {
        height: 12%;
        line-height: normal;
    }
    .main-img {
        margin-right: 75px;
    }
    .main-text-wrapper {
        margin: 0 35px;
    }
    .slogn {
        font-size: calc(1em + 2vw);
        line-height: 50px;
        width: 490px;
    }
    .description {
        max-width: 390px;
        font-size: calc(1em + 0.8vw);
    }
}
@media (max-width: 1078px) {
    .slogn {
        line-height: 42px;
    }
    .description {
        padding-top: 20px;
        line-height: 25px;
    }
    .welcome-background::after {
        font-size: calc(1em + 9.8vw);
    }
    .welcome-title  {
        font-size: calc(1em + 5.8vw);
    }
    .slogn {
        font-size: calc(1em + 1.8vw);
    }
    .description {
        font-size: calc(1em + 0.2vw);
    }
    .main-bottom-block {
        margin-top: 85px;
    }
    .benefit-block-wrapper {
        width: 250px;
    }
    .benefit-button {
        margin-top: 180px;
    }
}
@media (max-width: 1024px) {
    .half-circle-background {
        margin-top: 100px;
    }
    footer {
        display: none;
    }
    .bottom-block-count-channels {
        float: right;
        margin-right: 15%;
        margin-left: 10px;
    }
    .bottom-block-count-films {
        float: left;
        margin-left: 10%;
    }
    .bottom-block-title {
        max-width: none;
        display: block;
        width: 70%;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 20px;
    }
    .main-bottom-block {
        display: block;
    }
    .main-img {
        margin-right: 90px;
    }
    .slogn {
        font-size: calc(1em + 1.5vw);
        line-height: 35px;
    }
    .main-img {
        margin-right: 110px;
    }
    .main-button {
        font-size: 16px;
        line-height: 14px;
        width: 230px;
        padding: 15px 0;
    }
    .welcome-title {
        font-size: calc(1em + 2.8vw);
        line-height: 52px;
    }
}
@media (max-width: 900px) {    
    .benefit-block {
        margin-top: 60px
    }
    .benefit-block-item {
        margin: 77px 36px 78px 40px;
    }
    .benefit-button {
        margin-top: 85px;
    }
}
@media (max-width: 870px) {
    .slogn {
        width: 440px;
    }
    .main-img {
        margin-right: 90px;
    }
    .description {
        max-width: 305px;
    }
    .main-label {
        font-size: calc(1em + 0.2vw);
    }
}
@media (max-width: 807px) {
    .main-label {
        font-size: 1em;
    }
    .slogn {
        width: 315px;
    }
    .description {
        max-width: 221px;
        font-size: 1em;
    }
    .main-img-wrapper {
        margin-top: 55px;
    }
    .main-img {
        margin-right: 75px;
    }
    .number, .title {
        margin: 0;
        padding: 0 !important;
    }
    .number {
        font-size: calc(1em + 6.6vw);
        line-height: 65px;
    }
    .title {
        font-size: 16px;
        line-height: 25px;
    }
    .bottom-block-count-channels,
    .bottom-block-count-films {
        width: auto;
        height: auto;
        padding: 15px;
    }
    .top-button {
      width:  30px;
      height: 30px;
      bottom: 30px;
      right: 5px;
    }
    .top-button::after {
        top: 9px;
        left: 6.48px;
        padding: 6px;
    }
    .benefit-block-heading {
        font-size: 42px;
        line-height: 55px;
        max-width: 50%;
        margin: 0 auto;
    }
    #menu__toggle {
      opacity: 0;
    }
    .logo-img {
        margin-left: 15px;
    }
    #menu__toggle:checked ~ .menu__btn > span {
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
    }
    #menu__toggle:checked ~ .menu__btn > span::before {
      top: 0;
      -webkit-transform: rotate(0);
          -ms-transform: rotate(0);
              transform: rotate(0);
    }
    #menu__toggle:checked ~ .menu__btn > span::after {
      top: 0;
      -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
              transform: rotate(90deg);
    }
    #menu__toggle:checked ~ nav {
      visibility: visible;
      left: 0;
    }    
    .menu__btn {    
        display: -webkit-box;    
        display: -ms-flexbox;    
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        position: fixed;
        top: 37px;
        right: 15px;
        width: 28px;
        height: 18px;
        cursor: pointer;
        z-index: 1000;
    }    
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
      display: block;
      position: absolute;    
      width: 100%;
      height: 2px;    
      background-color: #FFFFFF;    
      -webkit-transition-duration: .25s;    
           -o-transition-duration: .25s;    
              transition-duration: .25s;
        right: 20px;
    }
    
    .menu__btn > span::before,
    .menu__btn > span::after {
        right: 0;
    }
    .menu__btn > span::before {
      content: '';
      top: -8px;
    }
    .menu__btn > span::after {
      content: '';
      top: 8px;
    }    
    nav {
      display: block;
      position: fixed;
      visibility: hidden;
      top: 0;
      left: -100%;    
      width: 100%;
      height: auto;    
      margin: 0;
      padding: 80px 0;    
      background-color: #1F3849;
      -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
              box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);    
      -webkit-transition-duration: .25s;    
           -o-transition-duration: .25s;    
              transition-duration: .25s;
      z-index: 999;
    }    
    nav a {
      display: block;
      padding: 12px 24px;    
      color: #FFFFFF;    
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      font-weight: 600;    
      text-decoration: none;    
      -webkit-transition-duration: .25s;    
           -o-transition-duration: .25s;    
              transition-duration: .25s;
    }
    .main-label, 
    body {
        width: calc(100% + 54px);
    }
}
@media (max-width: 630px) {
    .main-button-desktop {
        display: none;
    }
    .main-button-mobile {
        display: inline-block;
    }
    .main-label {
        top: 135px;
    }
    .slogn,
    .description {
        font-size: calc(1em + 1vw);
        max-width: none;
        width: 100%;
    }
    .main-img-wrapper {
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
    }
    .slogn {
        font-size: calc(1em + 2vw);
    }
    .main-text-wrapper {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .main-text {
        margin-top: 35px;
    }
    .main-img {
        float: none;
        margin-right: 0;
    }
    .main-bottom-block {
        margin-top: 45px;
    }
    .button {
        width: 196px;
        height: 39.2px;
        font-size: 14px;
        padding: 13px 0;
    }
    .main-button {
        margin-top: 30px;
    }
    .benefit-block {
        width: 100%;
    }
    .benefit-block-item {
        width: 100%;
        margin-bottom: 80px;
    }
    .benefit-button {
        padding: 8px 0;
        margin-bottom: 50px;
    }
    .slick-dots {
        left: 0px;
    }    
    .welcome-button::after {
        background-image: url("../images/donut.png");
        background-size: 20px 20px;
        display: inline-block;
        position: absolute;
        width: 20px;
        height: 20px;
        content: "";
        top: -1px;
        left: 180px;
    }
    .welcome-button {
        padding: 8px 0;
    }
}
@media (max-width: 545px) {
    .half-circle-background {
        margin-top: 60px;
    }
    .bottom-block-title {
        font-size: calc(1em + 2.6vw);
        line-height: 30px;
    }
    .welcome-title {
        font-size: 20px;
        width: 271px;
        line-height: 30px;
    }
    .welcome-description {
        font-size: 16px;
        width: 218px;
    }
    .welcome-background::after {
        font-size: 50px;
    }
    .button {
        font-size: 14px;
        width: 196px;
    }
    .benefit-block-heading {
        font-size: 20px;
        padding-top: 50px;
        line-height: 40px;
    }
    .benefit-block-item {
        margin-bottom: 10px;
    }
    .benefit-block-title {
        font-size: 20px;
        line-height: 30px;
    }
    .benefit-block-description {
        font-size: 16px;
        line-height: 24px;
    }
    .benefit-button {
        padding: 7px 0;
    }
    
    .benefit-block {
        margin-top: 0px;
    }
    .benefit-block-number {
        font-size: 80px;
    }
    .benefit-block-wrapper {
        width: 175px;
    }
    .number {
        font-size: 34px;
        line-height: 34px;
    }
    .title {
        font-size: 12px;
        line-height: 25px;
    }
}
@media (max-width: 370px) {
    .half-circle-background {
        height: 60px;
    }
    .main-label {
        font-size: 12px;
        padding-right: 5px;
    }    
    .bottom-block-count-channels,
    .bottom-block-count-films {
        padding: 12px 7px;
    }
    .bottom-block-title {
        font-size: calc(1em + 2vw);
    }
    .welcome-background::after {
        font-size: 45px;
    }
    .benefit-block-heading {
        line-height: 35px;
    }
}
@media (max-width: 330px) {
    .bottom-block-count-channels,
    .bottom-block-count-films {
        padding: 10px 5px;
    }
    .number {
        font-size: 30px;
        line-height: 30px;
    }
    .title {
        font-size: 12px;
        line-height: 20px;
    }
}